.single__service {
    display: flex;
    align-items: start;

    gap: 64px;

    padding: 64px 6vw;

    .total__services {
        padding: 20px;
        border-radius: 10px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        min-width: 320px;
        
        display: flex;
        flex-direction: column;

        gap: 24px;

        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

        .title {
            font-size: 24px;
            padding-bottom: 12px;
            
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        }

        .service__list {
            display: flex;
            flex-direction: column;
            gap: 20px;

            .list{
                font-size: 18px;
            }
        }
    }
}