/* ====== services Section ====== */
/* ====== services Section ====== */

.services__section {
    display: flex;
    flex-direction: column;
    gap: 62px;

    align-items: center;

    padding: 62px 0;

    .services__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;

        .title {
            text-align: center;
        }
    }

    .services__card {

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 32px;
        width: 100%;
        padding: 0 6vw;

        .card {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 24px;
            align-items: center;

            overflow: hidden;

            padding-bottom: 30px;

            border-radius: 6px;
            background: #fff;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

            .services__img {
                >img {
                    transition: .3s;
                    width: 100%;
                }
            }

            .card__content {
                display: flex;
                flex-direction: column;
                gap: 6px;
                padding: 20px;

                .services__heading {
                    line-height: 32px;
                    font-weight: 700;
                    font-style: normal;
                    color: var(--dark-color);
                    font-size: 22px;
                }

                .text {
                    font-weight: 400;
                    color: #666;
                    max-width: 340px;
                }

                .text:last-child {
                    font-weight: 600;
                    color: var(--primary-color);
                }
            }
        }

        .card:hover {
            .services__img {
                >img {
                    transform: scale(1.05);
                }

                .social__icon {
                    .icon {
                        opacity: 1;
                        transform: translateY(0);
                    }
                }
            }
        }
    }
}

@media (max-width:1100px) {
    .services__section {
        .services__card {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

@media (max-width:880px) {
    .services__section {
        .services__card {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media (max-width: 648px) {

    .services__section {
        .services__content {
            .title {
                font-size: 38px;
            }
        }

        .services__card {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}